<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image.jpg') }}" sizes="16x16" href="{{ asset('bundles/scylabsneptune/admin/images/favicon.jpg') }}">
    <title>Neptune</title>
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('bundles/scylabsneptune/admin/css/lib/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom CSS -->


    <link href="{{ asset('bundles/scylabsneptune/admin/css/lib/calendar2/semantic.ui.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/scylabsneptune/admin/css/lib/calendar2/pignose.calendar.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/scylabsneptune/admin/css/lib/owl.carousel.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/scylabsneptune/admin/css/lib/owl.theme.default.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/scylabsneptune/admin/css/helper.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/scylabsneptune/admin/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/scylabsneptune/admin/css/lib/font-awesome/css/fontawesome-all.min.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ asset('bundles/scylabsneptune/admin/css/custom.less') }}" rel="stylesheet/less">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
<!--
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js') }}"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js') }}"></script>
-->

    {% block css %}
    {% endblock %}

    <![endif]-->
</head>

<body class="fix-header fix-sidebar">

<!-- Preloader - style you can find in spinners.css -->
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
</div>


<!-- Main wrapper  -->
<div id="main-wrapper">
    <!-- header header  -->
    <div class="header">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
            <!-- Logo -->
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">
                    <!-- Logo icon -->
                    {#<b><img src="{{ asset('bundles/scylabsneptune/admin/images/logo.jpg') }}" alt="homepage" class="dark-logo" /></b>#}
                    <!--End Logo icon -->
                    <!-- Logo text -->
                </a>
            </div>
            <!-- End Logo -->
            <div class="navbar-collapse">
                <!-- toggle and nav items -->
                <ul class="navbar-nav mr-auto mt-md-0">
                </ul>
                <!-- User profile and search -->
                <ul class="navbar-nav my-lg-0">

                    <!-- Search
                    <li class="nav-item hidden-sm-down search-box"> <a class="nav-link hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-search"></i></a>
                        <form class="app-search">
                            <input type="text" class="form-control" placeholder="Search here"> <a class="srh-btn"><i class="ti-close"></i></a> </form>
                    </li>
                    -->
                    <!-- Comment -->

                    <!-- Messages -->

                    <!-- End Messages -->
                    <!-- Profile -->
                    {% if app.user.username is defined %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Connecté en tant que {{ app.user.username }} <i style="margin-left: 20px;" class="fal fa-user"></i> </a>
                            <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                                <ul class="dropdown-user">
                                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off"></i> Deconnexion</a></li>
                                </ul>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
    <!-- End header header -->
    <!-- Left Sidebar  -->
    <div class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    {{ include('@ScyLabsNeptune/admin/basemenu.html.twig') }}
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </div>
    <!-- End Left Sidebar  -->
    <!-- Page wrapper  -->
    <div class="page-wrapper">
        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary">
                    {% if title is defined%}
                        {{ title }}
                    {% else %}
                        Pas de variable title envoyée par le controller
                    {% endif %}
                </h3>
            </div>
            <div class="col-md-7 align-self-center">
                <!-- FIL DARIANE-->
                <ol class="breadcrumb">
                    {% if ariane is defined %}
                        {% for ligne in ariane %}
                            <li class="breadcrumb-item"><a href="{{ ligne.link }}">{{ ligne.name }}</a></li>
                        {% endfor %}
                    {% endif %}

                </ol>
            </div>
        </div>

        <!-- CONTENU DE LA PAGE -->
        <div class="container-fluid">

            {% block content %}
            {% endblock %}

        </div>
    </div>
    <!-- End Page wrapper  -->
</div>

<div id="flashes">
    {% for flash in app.session.flashbag.get('notice') %}
        <div class="flash dialog alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="fa fa-times"></i></span>
            </button>
            <p>{{ flash }}</p>

        </div>
    {% endfor %}
</div>
{% if is_granted('ROLE_SUPER_ADMIN') %}
    <div id="keyup">

    </div>
{% endif %}


<!-- End Wrapper -->
<!-- All Jquery -->
<script src="{{ asset('bundles/scylabsneptune/admin/js/lib/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/scylabsneptune/admin/js/lib/less/less.min.js') }}"></script>
<script src="{{ asset('bundles/scylabsneptune/admin/js/lib/jquery-ui/jquery-ui.min.js') }}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{{ asset('bundles/scylabsneptune/admin/js/lib/bootstrap/js/popper.min.js') }}"></script>
<script src="{{ asset('bundles/scylabsneptune/admin/js/lib/bootstrap/js/bootstrap.min.js') }}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="{{ asset('bundles/scylabsneptune/admin/js/jquery.slimscroll.js') }}"></script>
<!--Menu sidebar -->
<script src="{{ asset('bundles/scylabsneptune/admin/js/sidebarmenu.js') }}"></script>
<!--stickey kit -->
<script src="{{ asset('bundles/scylabsneptune/admin/js/lib/sticky-kit-master/dist/sticky-kit.min.js') }}"></script>


<!--Custom JavaScript -->


<!-- scripit init-->



{% block js %}
{% endblock js %}

<script>
    var url_site = "{{ asset('') }}";

    var url_asset = "{{ asset('bundles/scylabsneptune') }}";
</script>
<script src="{{ asset('bundles/scylabsneptune/admin/js/scripts.js') }}"></script>
<script src="{{ asset('bundles/scylabsneptune/admin/js/custom.js') }}"></script>
<script src="{{ asset('bundles/scylabsneptune/admin/js/egs.js') }}"></script>

</body>

</html>