{% extends '@ScyLabsNeptune/mail/layout.html.twig' %}
{% block content %}
    <!-- module 1 -->
    <table data-module="module-1" data-thumb="{{ baseurl ~ asset("bundles/scylabsneptune/mail/thumbnails/01.png") }}" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td data-bgcolor="bg-module" bgcolor="#eaeced">
                <table class="flexible" width="600" align="center" style="margin:0 auto;" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="padding:29px 0 30px;">
                            <table width="100%" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                                <tr>
                                    <th class="flex" width="113" align="left" style="padding:0;">
                                        <table class="center" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                                            <tr>
                                                <td style="line-height:0;">
                                                    <a target="_blank" style="text-decoration:none;" href="{{ website }}"><img src="{{ baseurl ~ asset("@ScyLabsNeptune/img/logo.png") | thumb(113) }}" border="0" style="height:auto;font:bold 12px/12px Arial, Helvetica, sans-serif; color:#606060;" align="left" vspace="0" hspace="0" width="113" height="12" alt="" /></a>
                                                </td>
                                            </tr>
                                        </table>
                                    </th>

                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>


    <!-- module 2 -->
    <table data-module="module-2" data-thumb="{{ baseurl ~ asset("bundles/scylabsneptune/mail/thumbnails/02.png") }}" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td data-bgcolor="bg-module" bgcolor="#eaeced">
                <table class="flexible" width="600" align="center" style="margin:0 auto;" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="img-flex"><img src="{{ baseurl ~ asset("bundles/scylabsneptune/mail/images/img-01.jpg") }}" style="vertical-align:top;" width="600" height="306" alt="" /></td>
                    </tr>
                    <tr>
                        <td data-bgcolor="bg-block" class="holder" style="padding:58px 60px 52px;" bgcolor="#f9f9f9">
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td data-color="title" data-size="size title" data-min="25" data-max="45" data-link-color="link title color" data-link-style="text-decoration:none; color:#292c34;" class="title" align="center" style="font:35px/38px Arial, Helvetica, sans-serif; color:#292c34; padding:0 0 24px;">
                                        {{ "Un compte à été créer pour vous" | trans }}
                                    </td>
                                </tr>
                                <tr>
                                    <td data-color="text" data-size="size text" data-min="10" data-max="26" data-link-color="link text color" data-link-style="font-weight:bold; text-decoration:underline; color:#40aceb;" align="center" style="font:bold 16px/25px Arial, Helvetica, sans-serif; color:#888; padding:0 0 23px;">
                                        {{ "Un compte à été créer pour vous sur votre site internet" | trans }} {{ (app.request.server is defined) ? app.request.server.get('HTTP_HOST') : '' }}
                                    </td>
                                </tr>
                                <tr>
                                    <td data-color="text" data-size="size text" data-min="10" data-max="26" data-link-color="link text color" data-link-style="font-weight:bold; text-decoration:underline; color:#40aceb;" align="center" style="font:bold 16px/25px Arial, Helvetica, sans-serif; color:#888; padding:0 0 23px;">
                                        <table width="100%" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td>Login : </td>
                                                <td>{{ login }}</td>
                                            </tr>
                                            <tr>
                                                <td>Mot de pass :</td>
                                                <td>{{ pass }}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:0 0 20px;">
                                        <table width="250" align="center" style="margin:0 auto;" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td data-bgcolor="bg-button" data-size="size button" data-min="10" data-max="16" class="btn" align="center" style="font:12px/14px Arial, Helvetica, sans-serif; color:#f8f9fb; text-transform:uppercase; mso-padding-alt:12px 10px 10px; border-radius:2px;" bgcolor="#7bb84f">
                                                    <a target="_blank" style="text-decoration:none; color:#f8f9fb; display:block; padding:12px 10px 10px;" href="{{ baseurl ~path('fos_user_security_login') }}">{{ "Se connecter" | trans}}</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr><td height="28"></td></tr>
                </table>
            </td>
        </tr>
    </table>

{% endblock %}