{% extends '@ScyLabsNeptune/admin/layout.html.twig' %}
{% block css %}
    <link href="{{ asset('bundles/scylabsneptune/admin/css/lib/select2/select2.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/scylabsneptune/admin/css/lib/nestable/nestable.css') }}" rel="stylesheet">
{% endblock css %}

{% block js %}
    <script src="{{ asset('bundles/scylabsneptune/admin/js/lib/select2/select2.full.min.js') }}"></script>
    <script src="{{ asset('bundles/scylabsneptune/admin/js/lib/select2/select2-init.js') }}"></script>

    <script src="{{ asset('bundles/scylabsneptune/admin/js/lib/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ asset('bundles/scylabsneptune/admin/js/tinyinit.js') }}"></script>

    <script src="{{ asset('bundles/scylabsneptune/admin/js/lib/nestable/jquery.nestable.js') }}"></script>
    <script src="{{ asset('bundles/scylabsneptune/admin/js/lib/nestable/nestable.init.js') }}"></script>
    <!-- scripit init-->
    <script src="{{ asset('bundles/scylabsneptune/admin/js/lib/nestable/nestable.init.js') }}"></script>
    <script src={{ asset('bundles/scylabsneptune/admin/js/lib/datatables/datatables.min.js') }}></script>
    <script src={{ asset('bundles/scylabsneptune/admin/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js') }}></script>
    <script src={{ asset('bundles/scylabsneptune/admin/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js') }}></script>
    <script src={{ asset('bundles/scylabsneptune/admin/js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js') }}></script>
    <script src={{ asset('bundles/scylabsneptune/admin/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js') }}></script>
    <script src={{ asset('bundles/scylabsneptune/admin/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js') }}></script>
    <script src={{ asset('bundles/scylabsneptune/admin/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js') }}></script>
    <script src={{ asset('bundles/scylabsneptune/admin/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js') }}></script>
    <script src={{ asset('bundles/scylabsneptune/admin/js/lib/datatables/datatables-init.js') }}></script>
{% endblock js %}

{% block content %}
    <div class="row">
        {{ parent() }}
        <div class="col-lg-6">
            <div class="tabs">
                {% if collection is defined %}
                    <ul class="onglets">
                        {% for key, tab in collection %}
                            <li><a href="#tabs-{{ loop.index }}">{{ key }}</a></li>
                        {% endfor %}
                    </ul>
                    {% for key, tab in collection %}
                        <div id="tabs-{{ loop.index }}">
                            <div class="card">
                                {% for object in tab %}
                                    {% set form = tab['form'] %}
                                    {% include '@ScyLabsNeptune/admin/form.html.twig' %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        {% if objects is defined %}
            {% if objects != null %}
                <div class="col-lg-6">
                    {% include '@ScyLabsNeptune/admin/entity/content_listing.html.twig' %}

                </div>
            {% endif %}
        {% endif %}

        {% if object.parent is defined %}
            <div id="preview" style="height:100vh;width:100%;display: flex;">
                {% if app.request.attributes.get('type') not in ['photo','document'] %}
                    {% if app.request.attributes.get('type') == 'page'%}
                        <iframe src="{{path('page',{'_locale':'fr','slug':object.url('fr').url})}}" style="flex:1"></iframe>
                    {% else %}
                        <iframe src="{{path('page',{'_locale':'fr','slug':object.parent.url('fr').url})}}" style="flex:1"></iframe>
                    {% endif %}
                {% endif %}


            </div>
        {% endif %}
    </div>

{% endblock %}